<!DOCTYPE html>
<html>
<head>
  <title>NERC Digital Solutions Hub</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css">

  <link rel="stylesheet" type="text/css" href="css/index.css">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
  
  <div id="app-container" >

    <v-app id="app">
      <v-app-bar  clipped-left
                  color="primary"
                  dark
                  dense
                  flat
                  app>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-toolbar-title>NERC Digital Solutions Hub</v-toolbar-title>
        
        <v-spacer></v-spacer>
        
        <v-dialog id="search-dialog"
                  v-model="searchDialog.isSearchDialogOpen"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="search-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on"
                    v-show="applicationState.currentState === 'initial'">
              Search
            </v-btn>
          </template>
          <v-card>
            <v-toolbar  color="secondary">
              <v-btn  icon
                      @click="searchDialog.isSearchDialogOpen = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Search Data</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn  text
                        @click="searchDialog.isSearchDialogOpen = false">
                  Close
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
            
            <v-list>
              <v-list-item>

                <v-container>
                  <v-toolbar  dark
                              color="teal">
                    <v-toolbar-title>
                      <slot name="search-item"></slot>
                    </v-toolbar-title>
                  
                    <v-autocomplete v-model="searchBar.select"
                                    :loading="searchBar.loading"
                                    :items="searchBar.items"
                                    :search-input.sync="searchBar.search"
                                    cache-items
                                    class="mx-4"
                                    flat
                                    hide-no-data
                                    hide-details
                                    solo-inverted
                                    @keydown.enter="onEnter">
                    </v-autocomplete>
                  </v-toolbar>

                  <v-list>
                    <v-subheader v-show="searchBar.searchResults.length">Search Results</v-subheader>
          
                    <v-list-item-group  v-model="searchBar.selectedResults"
                                        multiple
                                        active-class="">
                      <v-list-item v-for="(result, i) in searchBar.searchResults" :key="i">
                        <template v-slot:default="{ active }">
                          <v-list-item-action>
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
              
                          <v-list-item-content>
                            <v-list-item-title>{{result}}</v-list-item-title>
                            <v-list-item-subtitle>some desc</v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                  
                  <v-btn  :disabled="searchBar.selectedResults.length === 0"
                          color="secondary"
                          elevation="2"
                          block
                          @click="searchBar_AddToMap">
                    Add to Map
                  </v-btn>
                  
                </v-container>

                <!-- <search-bar @add-to-map="onAddToMap">
                  <template #search-item>Search For</template>
                </search-bar> -->

              </v-list-item>
            </v-list>
          </v-card>
        </v-dialog>

        <v-dialog id="login-dialog"
                  v-model="loginDialog.isLoginDialogOpen"
                  persistent
                  max-width="600px"
                  value="true">

          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="login-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on">
              <v-icon>mdi-login</v-icon>
              {{ applicationState_GetUserLoginButtonText() }}
            </v-btn>
          </template>

          <v-card v-show="!applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">User Login</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-text-field label="Username"
                                required
                                v-model="loginDialog.username"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-text-field label="Password"
                                type="password"
                                required
                                v-model="loginDialog.password"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-alert  dense
                            outlined
                            type="error"
                            v-show="loginDialog.isLoginError">
                    Username or password is <strong>invalid</strong>!
                  </v-alert>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogin()">
                Login
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>

          <v-card v-show="applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">Are you sure you want to logout?</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogout()">
                Yes
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                No
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-dialog>
        
      </v-app-bar>

      <v-navigation-drawer  id ="navigation-drawer"
                            app
                            clipped
                            permanent
                            v-model="navigationTabs.drawer"
                            v-if="applicationState.currentState === 'initial'"
                            width="25%">

        <v-container>
          <v-row>
            <v-tabs background-color="indigo"
                    class="rounded-0"
                    dark
                    fixed
                    fixed-tabs
                    v-model="navigationTabs.selectedTabIndex"
                    width="100%">
              <v-tab v-for="(tab, index) in navigationTabs.tabs" :key="index">
                <v-icon>{{tab.icon}}</v-icon>
              </v-tab>
            </v-tabs>
          </v-row>
        </v-container>

        <v-container>
          
          <!-- 
            Chris v-if / v-show seems identical, but they have a very big difference
            v-if removes the element from the DOM
            v-show hides the element from the DOM
              -->
          <!-- TODO: Decide if v-show should be used instead of v-if -->

          <v-row>
            <!-- <tab-question-content v-if="this.currentTabName === 'question'"></tab-question-content>
            <tab-data-content v-if="this.currentTabName === 'data'"></tab-data-content>
            <tab-model-content v-if="this.currentTabName === 'model'"></tab-model-content> -->
          </v-row>
          
        </v-container>




        <!-- <v-treeview id="climate-just-treewview"
                    activatable
                    :active.sync="selectedField"
                    dense
                    hoverable
                    :items="treeViewItems"
                    :open.sync="openedFolders"
                    open-on-click
                    @update:active="updateMap()"
                    v-show="false">
          <template v-slot:prepend="{ item, active, open }">
            <v-icon v-if="item.isFolder">
              {{ open ? 'mdi-folder-open-outline' : 'mdi-folder-outline' }}
            </v-icon>
            <v-icon v-else>
              {{ active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank' }}
            </v-icon>
          </template>
        </v-treeview> -->

      </v-navigation-drawer>

      <v-main id="main"
              app>

        <!-- <div id="map"></div> -->


        <v-carousel id="carousel"
                    v-show="applicationState.currentState === 'welcome'">
          <v-carousel-item>
            <v-sheet  color="light-green darken-2"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h1 white--text">
                  NERC Digital Solutions Hub
                </div>
                <div class="text-h2 white--text">
                  Question, Explore, Analyze Petabytes of Geospatial Data
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="orange lighten-1"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 primary--text">
                  Ask Questions
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="deep-purple darken-1"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 secondary--text">
                  Explore, Mix, and Analyse Data
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="amber lighten-2"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2">
                  Build and Run models
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="light-green darken-3"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 white--text">
                  Use our APIs
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
        





      </v-main>

      <!-- <v-footer  id="footer"
                 color="orange"
                 app>

        <p>This is the footer of the application. It can be removed.</p>

      </v-footer> -->
    </v-app>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>
  <script type="text/javascript" src="libs/choropleth-1.0.0/choropleth.js"></script>
  
  <script type="text/javascript" src="data/app-data.js"></script>
  <!-- <script type="text/javascript" src="data/app-data-hub-apps.js"></script> -->
  <script type="text/javascript" src="data/app-data-metadata.js"></script>

  <!-- <script type="text/javascript" src="components/logInOutButton.js"></script> -->
  <!-- <script type="text/javascript" src="components/welcomeCarousel.js"></script> -->
  <!-- <script type="text/javascript" src="components/searchBtn.js"></script> -->

  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>