<!DOCTYPE html>
<html>
<head>
  <title>NERC Digital Solutions Hub</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css">

  <link rel="stylesheet" type="text/css" href="css/index.css">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
  
  <div id="app-container" >

    <v-app id="app">
      <!-- TopBar starts -->
      <v-app-bar  
                  color="primary"
                  clipped-left
                  dark
                  dense
                  flat
                  app>
        <v-app-bar-nav-icon @click.stop="navigationTabs_OpenDrawer" v-if="applicationState.isUserLoggedIn"></v-app-bar-nav-icon>
        <v-toolbar-title>NERC Digital Solutions Hub</v-toolbar-title>
        
        <v-spacer></v-spacer>
        
        <!-- SearchDialog starts -->
        <v-dialog v-if="applicationState.isUserLoggedIn"
                  id="search-dialog"
                  v-model="searchDialog.isSearchDialogOpen"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="search-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on">
              Search
            </v-btn>
          </template>
          <v-card>
            <v-toolbar  color="secondary">
              <v-btn  icon
                      @click="searchDialog.isSearchDialogOpen = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Search Data</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn  text
                        @click="searchDialog.isSearchDialogOpen = false">
                  Close
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
            
            <v-list>
              <v-list-item>

                <v-container>
                  <v-toolbar  dark
                              color="teal">
                    <v-toolbar-title>
                      <slot name="search-item"></slot>
                    </v-toolbar-title>
                  
                    <v-autocomplete v-model="searchBar.select"
                                    :loading="searchBar.loading"
                                    :items="searchBar.items"
                                    :search-input.sync="searchBar.search"
                                    cache-items
                                    class="mx-4"
                                    flat
                                    hide-no-data
                                    hide-details
                                    solo-inverted
                                    @keydown.enter="onEnter">
                    </v-autocomplete>
                  </v-toolbar>

                  <v-list>
                    <v-subheader v-show="searchBar.searchResults.length">Search Results</v-subheader>
          
                    <v-list-item-group  v-model="searchBar.selectedResults"
                                        multiple
                                        active-class="">
                      <v-list-item v-for="(result, i) in searchBar.searchResults" :key="i">
                        <template v-slot:default="{ active }">
                          <v-list-item-action>
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
              
                          <v-list-item-content>
                            <v-list-item-title>{{result}}</v-list-item-title>
                            <v-list-item-subtitle>some desc</v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                  
                  <v-btn  :disabled="searchBar.selectedResults.length === 0"
                          color="secondary"
                          elevation="2"
                          block
                          @click="searchBar_AddToMap">
                    Add to Map
                  </v-btn>
                  
                </v-container>

                <!-- <search-bar @add-to-map="onAddToMap">
                  <template #search-item>Search For</template>
                </search-bar> -->

              </v-list-item>
            </v-list>
          </v-card>
        </v-dialog>
        <!-- SearchDialog ends -->
        
        <!-- LoginDialog starts -->
        <v-dialog id="login-dialog"
                  v-model="loginDialog.isLoginDialogOpen"
                  persistent
                  max-width="600px"
                  value="true">

          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="login-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on">
              <v-icon>mdi-login</v-icon>
              {{ applicationState_GetUserLoginButtonText }}
            </v-btn>
          </template>

          <v-card v-show="!applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">User Login</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-text-field label="Username"
                                required
                                v-model="loginDialog.username"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-text-field label="Password"
                                type="password"
                                required
                                v-model="loginDialog.password"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-alert  dense
                            outlined
                            type="error"
                            v-show="loginDialog.isLoginError">
                    Username or password is <strong>invalid</strong>!
                  </v-alert>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogin()">
                Login
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>

          <v-card v-show="applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">Are you sure you want to logout?</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogout()">
                Yes
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                No
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-dialog>
        <!-- LoginDialog ends -->
      
      </v-app-bar>
      <!-- TopBar ends -->
      
      <!--NavDrawer starts--> 
      <v-navigation-drawer  v-if="applicationState.isUserLoggedIn"
                            id ="navigation-drawer" 
                            v-model="navigationTabs.isNavDrawerOpen"
                            width="25%"
                            app
                            clipped
                            >
                            
        <!--TabBar starts-->
        <template v-slot:prepend>
          <v-tabs background-color="indigo"
                  class="rounded-0"
                  dark
                  fixed
                  fixed-tabs
                  v-model="navigationTabs.selectedTabIndex"
                  width="100%">
            <v-tab v-for="(tab, index) in navigationTabs.tabs" :key="index">
              <v-icon>{{tab.icon}}</v-icon>
            </v-tab>
          </v-tabs>
        </template>
        <!--TabsBar ends-->
        
        <!--QuestionTabContent starts-->
        <v-container v-if="applicationState_isAskQuestion"> 
          <!-- Debug starts -->
          <v-card-title>
            Current AppState: {{applicationState.currentState}}
            isNavDrawerOpen: {{navigationTabs.isNavDrawerOpen}}
          </v-card-title>
          <!-- Debug ends -->
          
          <v-card 
           color="primary darken-1"
           dark>

          <v-card-title>Ask a Question</v-card-title>
          <!-- autoComplete starts -->
          <v-container>
            <v-autocomplete
            v-model="questionTab.selectedQuestion"
            :items="questionTab.MockupData"
            label="I want to know about..."
            item-text="displayedQuestion"
            item-value="displayedQuestion"
            filled
            ></v-autocomplete>
          </v-container>
          <!-- autoComplete ends -->
          
          <!-- button starts -->
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="light-green darken-3">
              <v-icon left>mdi-text-box-search</v-icon>
              Tell me!
            </v-btn>
          </v-card-actions>
          <!-- button ends -->
        </v-card>
          
          <v-card v-if="questionTab_activeQuestion" dark>
            <v-card-title>Question Description</v-card-title>
            <v-card-text>{{questionTab_activeQuestion.description}}</v-card-text>

            <v-card-title>Answer</v-card-title>
            <v-card-subtitle>{{questionTab_activeAnswer.displayedAnswer}}</v-card-subtitle>
            
            <v-card-title>Answer Dataset Legend</v-card-title>
            <v-card-subtitle>Just for illustration purpose: data can be accessed directly from the root.</v-card-subtitle>
            <v-card-text>{{questionTab_activeAnswer.dataset}}</v-card-text>
            
            <v-card-title>Answer Reference</v-card-title>
            <v-row justify="center">
            <v-card-subtitle>Data</v-card-subtitle>
            <v-chip-group>
            <v-chip v-for="d in questionTab_activeAnswer.ref.data"
            :key="d.name"
            >
            <a :href="d.link" class="secondary--text">{{ d.name }}</a>
            </v-chip>
            </v-chip-group>
            </v-row>
            
            <v-row justify="center">
            <v-card-subtitle>APIs</v-card-subtitle>
            
            <v-chip-group>
            <v-chip v-for="d in questionTab_activeAnswer.ref.api"
            :key="d.name"
            >
            <a :href="d.link" class="secondary--text">{{ d.name }}</a>
            </v-chip>
            </v-chip-group>
            </v-row>
          </v-card>
        </v-container>
        <!--QuestionTabContent ends-->

        <!-- DataTabContent starts -->
        <v-container v-if="applicationState_isExploreData">
          <v-card-title>
            Current AppState: {{applicationState.currentState}}
          </v-card-title>
        </v-container>
        <!-- DataTabContent ends -->

        <!-- ModelTabContent starts -->
        <v-container v-if="applicationState_isRunModel">
          <v-card-title>
            Current AppState: {{applicationState.currentState}}
          </v-card-title>
        </v-container>
        <!-- ModelTabContent ends -->
      
      </v-navigation-drawer>
      <!--NavDrawer ends-->

      <!-- app-main starts -->
      <v-main 
              id="main"
              app>
        <!-- <div id="map"></div> -->

        <!-- Carousel starts -->
        <v-carousel v-show="applicationState_isWelcome" 
                    id="carousel">
          <v-carousel-item>
            <v-sheet  color="light-green darken-2"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h1 white--text">
                  NERC Digital Solutions Hub
                </div>
                <div class="text-h2 white--text">
                  Question, Explore, Analyze Petabytes of Geospatial Data
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="orange lighten-1"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 primary--text">
                  Ask Questions
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="deep-purple darken-1"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 secondary--text">
                  Explore, Mix, and Analyse Data
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="amber lighten-2"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2">
                  Build and Run models
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          <v-carousel-item>
            <v-sheet  color="light-green darken-3"
                      height="100%"
                      tile>
              <v-row  class="fill-height"
                      align="center"
                      justify="center">
                <div class="text-h2 white--text">
                  Use our APIs
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
        <!-- Carousel ends -->
      
      </v-main>
      <!-- app-main ends -->

      <!-- <v-footer  id="footer"
                 color="orange"
                 app>

        <p>This is the footer of the application. It can be removed.</p>

      </v-footer> -->
    </v-app>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>
  <script type="text/javascript" src="libs/choropleth-1.0.0/choropleth.js"></script>
  <script type="text/javascript" src="data/app-data.js"></script>
  <script type="text/javascript" src="data/app-data-metadata.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>