<!DOCTYPE html>
<html>
<head>
  <title>NERC Digital Solutions Hub</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="icon" type="image/x-icon" href="images/icons/favicon-cubes-purple.ico">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">

  <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/4.24/esri/themes/light/main.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/4.24/esri/themes/dark/main.css"> -->
  
  <link rel="stylesheet" type="text/css" href="css/index-arcgis.css">
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script type="text/javascript" src="libs/require-2.3.6/require.js"></script>
  <script src="https://js.arcgis.com/4.24/"></script>
</head>

<body>
  
  <div id="app-container" >

    <v-app id="app">
      <v-app-bar  app
                  clipped-left
                  color="primary"
                  dark
                  dense
                  flat>
        <!-- @click.stop="navigationTabs_OpenDrawer" -->
        <v-app-bar-nav-icon v-if="applicationState.isUserLoggedIn"></v-app-bar-nav-icon>
        <v-toolbar-title>NERC Digital Solutions Hub</v-toolbar-title>
        
        <v-spacer></v-spacer>
        
        <v-dialog id="search-dialog"
                  v-if="applicationState.currentState !== 'welcome'"
                  v-model="searchDialog.isSearchDialogOpen"
                  fullscreen
                  hide-overlay
                  transition="dialog-bottom-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="search-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on">
              Search
            </v-btn>
          </template>
          <v-card>
            <v-toolbar  color="secondary">
              <v-btn  icon
                      @click="searchDialog.isSearchDialogOpen = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title dark>Search Data</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn  text
                        @click="searchDialog.isSearchDialogOpen = false">
                  Close
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
            
            <v-list>
              <v-list-item>

                <v-container>
                  <v-toolbar  dark
                              color="teal">
                    <v-toolbar-title>
                      <slot name="search-item"></slot>
                    </v-toolbar-title>
                  
                    <v-autocomplete v-model="searchBar.select"
                                    :loading="searchBar.loading"
                                    :items="searchBar.items"
                                    :search-input.sync="searchBar.search"
                                    cache-items
                                    class="mx-4"
                                    flat
                                    hide-no-data
                                    hide-details
                                    solo-inverted
                                    @keydown.enter="onEnter">
                    </v-autocomplete>
                  </v-toolbar>

                  <v-list>
                    <v-subheader v-show="searchBar.searchResults.length">Search Results</v-subheader>
          
                    <v-list-item-group  v-model="searchBar.selectedResults"
                                        multiple
                                        active-class="">
                      <v-list-item v-for="(result, i) in searchBar.searchResults" :key="i">
                        <template v-slot:default="{ active }">
                          <v-list-item-action>
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
              
                          <v-list-item-content>
                            <v-list-item-title>{{result}}</v-list-item-title>
                            <v-list-item-subtitle>some desc</v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                  
                  <v-btn  :disabled="searchBar.selectedResults.length === 0"
                          color="secondary"
                          elevation="2"
                          block
                          @click="searchBar_AddToMap">
                    Add to Map
                  </v-btn>
                  
                </v-container>

                <!-- <search-bar @add-to-map="onAddToMap">
                  <template #search-item>Search For</template>
                </search-bar> -->

              </v-list-item>
            </v-list>
          </v-card>
        </v-dialog>

        <v-dialog id="login-dialog"
                  v-model="loginDialog.isLoginDialogOpen"
                  persistent
                  max-width="600px"
                  value="true">

          <template v-slot:activator="{ on, attrs }">
            <v-btn  id="login-button"
                    color="primary"
                    v-bind="attrs"
                    v-on="on">
              <v-icon>mdi-login</v-icon>
              {{ applicationState_GetUserLoginButtonText() }}
            </v-btn>
          </template>

          <v-card v-show="!applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">User Login</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-text-field label="Username"
                                required
                                v-model="loginDialog.username"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-text-field label="Password"
                                type="password"
                                required
                                v-model="loginDialog.password"
                                v-on:keydown="loginDialog_ClearLoginError()">
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-alert  dense
                            outlined
                            type="error"
                            v-show="loginDialog.isLoginError">
                    Username or password is <strong>invalid</strong>!
                  </v-alert>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogin()">
                Login
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>

          <v-card v-show="applicationState.isUserLoggedIn">
            <v-card-title>
              <span class="text-h5">Are you sure you want to logout?</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn  color="accent"
                      text
                      @click="loginDialog_UserLogout()">
                Yes
              </v-btn>
              <v-btn  color="accent"
                      text
                      @click="loginDialog.isLoginDialogOpen = false">
                No
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-dialog>
        
      </v-app-bar>

      <!-- TODO: Change to 'initial' if a page is needed v-if="applicationState.currentState === 'questions'" -->
      <v-navigation-drawer  id ="navigation-drawer"
                            app
                            clipped
                            permanent
                            v-if="applicationState.currentState !== 'welcome'"
                            width="550">

        <template v-slot:prepend>
          <v-tabs id="navigationTabs"
                  background-color="accent"
                  dark
                  fixed
                  fixed-tabs
                  width="100%">
            <v-tab  v-for="(tab, index) in navigationTabs.tabs" :key="tab.state"
                    v-on:change="navigationTabs_onTabSelected(tab.state);">
              <v-icon>{{ tab.icon }}</v-icon>
            </v-tab>
          </v-tabs>
        </template>

        <v-container  id="questionsContainer"
                      v-if="applicationState.currentState === 'questions'">

          <v-card id="questionsCard"
                  tile>
            
            <v-card-actions class="d-flex justify-space-between">
              <v-card-title>Ask a Question</v-card-title>
              <v-btn-toggle multiple
                            v-model="navigationTabs.questions.toggleButtonIndexes"
                            v-on:change="legend_OnHeaderToolbarToggleButtonClicked();">
                <v-btn  id="questionsToggleBaseMapGallery"
                        v-on:click="legend_HeaderToolbarToggleButtonClick(0);">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <!-- <v-btn  v-on:click="navigationTabs.questions.toggleButtonClicked = 1;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.questions.toggleButtonClicked = 2;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.questions.toggleButtonClicked = 3;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn> -->
              </v-btn-toggle>
            </v-card-actions>
            
            <v-combobox :items="navigationTabs.questions.questionItems"
                        v-model="navigationTabs.questions.selectedQuestion"
                        v-on:Change="questions_OnSelectedQuestionChanged">
            </v-combobox>
          </v-card>

          <!-- <v-card id="timeSeriesMapLegend"
                  tile
                  v-if="true">
 
          </v-card> -->

          <v-card id="questionsBasemap">

            <div id="questions-basemapListContainer"></div>
            <br>
            <!-- <div id="questionsBaseMapGalleryContainer"></div> -->
          </v-card>
          
        </v-container>

        <v-container  id="exploreDataContainer"
                      v-if="applicationState.currentState === 'exploreData'">
          
          <v-card id="exploreDataCard"
                  tile>
            
            <v-card-actions class="d-flex justify-space-between">
              <v-card-title>Explore Data</v-card-title>
              <v-btn-toggle multiple
                            v-model="navigationTabs.exploreData.toggleButtonIndexes"
                            v-on:change="legend_OnHeaderToolbarToggleButtonClicked();">
                <v-btn  id="exploreDataToggleBaseMapGallery"
                        v-on:click="legend_HeaderToolbarToggleButtonClick(0);">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <!-- <v-btn  v-on:click="navigationTabs.exploreData.toggleButtonClicked = 1;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.exploreData.toggleButtonClicked = 2;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.exploreData.toggleButtonClicked = 3;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn> -->
              </v-btn-toggle>
            </v-card-actions>
            
          </v-card>

          <v-card id="exploreDataBasemap">

            <div id="exploreData-basemapListContainer"></div>
            <br>
            <!-- <div id="exploreDataBaseMapGalleryContainer"></div> -->
          </v-card>
          
        </v-container>

        <v-container  id="runModelsContainer"
                      v-if="applicationState.currentState === 'runModels'">
          
          <v-card id="runModelsCard"
                  tile>
            
            <v-card-actions class="d-flex justify-space-between">
              <v-card-title>Run Models</v-card-title>
              <v-btn-toggle multiple
                            v-model="navigationTabs.runModels.toggleButtonIndexes"
                            v-on:change="legend_OnHeaderToolbarToggleButtonClicked();">
                <v-btn  id="runModelsToggleBaseMapGallery"
                        v-on:click="legend_HeaderToolbarToggleButtonClick(0);">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <!-- <v-btn  v-on:click="navigationTabs.runModels.toggleButtonClicked = 1;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.runModels.toggleButtonClicked = 2;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn  v-on:click="navigationTabs.runModels.toggleButtonClicked = 3;">
                  <v-icon>mdi-apps</v-icon>
                </v-btn> -->
              </v-btn-toggle>
            </v-card-actions>
            
          </v-card>

          <v-card id="runModelsDataBasemap">

            <div id="runModels-basemapListContainer"></div>
            <br>
            <!-- <div id="runModelsBaseMapGalleryContainer"></div> -->
          </v-card>

        </v-container>


        <!-- <v-treeview id="climate-just-treewview"
                        activatable
                        :active.sync="selectedField"
                        dense
                        hoverable
                        :items="treeViewItems"
                        :open.sync="openedFolders"
                        open-on-click
                        @update:active="updateMap()"
                        v-show="false">
          <template v-slot:prepend="{ item, active, open }">
            <v-icon v-if="item.isFolder">
              {{ open ? 'mdi-folder-open-outline' : 'mdi-folder-outline' }}
            </v-icon>
            <v-icon v-else>
              {{ active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank' }}
            </v-icon>
          </template>
        </v-treeview> -->

        <!-- <v-treeview id="climate-just-treewview"
                    activatable
                    :active.sync="selectedField"
                    dense
                    hoverable
                    :items="treeViewItems"
                    :open.sync="openedFolders"
                    open-on-click
                    @update:active="updateMap()"
                    v-show="false">
          <template v-slot:prepend="{ item, active, open }">
            <v-icon v-if="item.isFolder">
              {{ open ? 'mdi-folder-open-outline' : 'mdi-folder-outline' }}
            </v-icon>
            <v-icon v-else>
              {{ active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank' }}
            </v-icon>
          </template>
        </v-treeview> -->

      </v-navigation-drawer>

      <v-main id="main"
              app>
        
        <div>
          <v-carousel id="carousel"
                      v-if="applicationState.currentState === 'welcome'">
            <v-carousel-item>
              <v-sheet  color="light-green darken-2"
                        height="100%"
                        tile>
                <v-row  align="center"
                        class="fill-height"
                        justify="center">
                  <div class="text-h1 white--text">
                    NERC Digital Solutions Hub
                  </div>
                  <br>
                  <div class="text-h2 white--text">
                    Question, Explore, Analyze Petabytes of Geospatial Data
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
            <v-carousel-item>
              <v-sheet  color="orange lighten-1"
                        height="100%"
                        tile>
                <v-row  align="center"
                        class="fill-height"
                        justify="center">
                  <div class="text-h2 primary--text">
                    Ask Questions
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
            <v-carousel-item>
              <v-sheet  color="deep-purple darken-1"
                        height="100%"
                        tile>
                <v-row  align="center"
                        class="fill-height"
                        justify="center">
                  <div class="text-h2 secondary--text">
                    Explore, Mix, and Analyse Data
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
            <v-carousel-item>
              <v-sheet  color="amber lighten-2"
                        height="100%"
                        tile>
                <v-row  align="center"
                        class="fill-height"
                        justify="center">
                  <div class="text-h2">
                    Build and Run models
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
            <v-carousel-item>
              <v-sheet  color="light-green darken-3"
                        height="100%"
                        tile>
                <v-row  align="center"
                        class="fill-height"
                        justify="center">
                  <div class="text-h2 white--text">
                    Use our APIs
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
          </v-carousel>

          <v-container  id="main-page-buttons"
                        v-if="applicationState.currentState === 'welcome'">
            <div  id="btn-row"
                  class="d-flex justify-space-around">
            
              <v-btn  class="pa-6 ma-6"
                      @click="enter();"
                      color="primary"
                      dark>
                <v-icon>mdi-play</v-icon>
                Enter
              </v-btn>
              
              <v-dialog id="login-dialog2"
                        max-width="600px"
                        persistent
                        :retain-focus="false"
                        value="true"
                        v-model="loginDialog.isLoginDialogOpen">

                <template v-slot:activator="{ on, attrs }">
                  <v-btn  id="login-button"
                          class="pa-6 ma-6"
                          color="primary"
                          v-bind="attrs"
                          v-on="on">
                    <v-icon>mdi-login</v-icon>
                    {{ applicationState_GetUserLoginButtonText() }}
                  </v-btn>
                </template>

                <v-card v-show="!applicationState.isUserLoggedIn">
                  <v-card-title>
                    <span class="text-h5">User Login</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-text-field label="Username"
                                      required
                                      v-model="loginDialog.username"
                                      v-on:keydown="loginDialog_ClearLoginError()">
                        </v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field label="Password"
                                      type="password"
                                      required
                                      v-model="loginDialog.password"
                                      v-on:keydown="loginDialog_ClearLoginError()">
                        </v-text-field>
                      </v-row>
                      <v-row>
                        <v-alert  dense
                                  outlined
                                  type="error"
                                  v-show="loginDialog.isLoginError">
                          Username or password is <strong>invalid</strong>!
                        </v-alert>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn  color="accent"
                            text
                            @click="loginDialog_UserLogin()">
                      Login
                    </v-btn>
                    <v-btn  color="accent"
                            text
                            @click="loginDialog.isLoginDialogOpen = false">
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>

                <v-card v-show="applicationState.isUserLoggedIn">
                  <v-card-title>
                    <span class="text-h5">Are you sure you want to logout?</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn  color="accent"
                            text
                            @click="loginDialog_UserLogout()">
                      Yes
                    </v-btn>
                    <v-btn  color="accent"
                            text
                            @click="loginDialog.isLoginDialogOpen = false">
                      No
                    </v-btn>
                  </v-card-actions>
                </v-card>

              </v-dialog>

              <v-dialog max-width="600px"
                        persistent
                        v-model="registerDialog.isRegisterDialogOpen">
                    
                <template v-slot:activator="{ on, attrs }">
                  <v-btn  class="pa-6 ma-6"
                          color="primary"
                          dark
                          v-bind="attrs"
                          v-on="on">
                    <v-icon>mdi-file-sign</v-icon>
                    Register
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title>
                    <span class="text-h5">User Profile</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" md="4" sm="6">
                          <v-text-field label="Name*"
                                        persistent-hint
                                        required>
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" md="4" sm="6">
                          <v-text-field label="Surname*"
                                        persistent-hint
                                        required>
                          </v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field label="Email*"
                                        required>
                          </v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field label="Password*"
                                        required              
                                        type="password">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6"></v-col>
                      </v-row>
                    </v-container>
                    <small>* Indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn  @click="registerDialog_onSubmit()"
                            color="primary"
                            text>
                      Submit
                    </v-btn>
                    <v-btn  @click="registerDialog.isRegisterDialogOpen = false"
                            color="primary"
                            text>
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
                    
            </div>
          
          </v-container>
        </div>

        

        <!-- TODO: Check out if hardcoded value is ok: max-width="600px" -->

        <!-- <v-container  id="main-page-buttons"
                      v-if="applicationState.currentState === 'welcome'">
          <div  id="btn-row"
                class="d-flex justify-space-around">
          
            <v-btn  class="pa-6 ma-6"
                    @click="applicationState_toState('questions')"
                    color="primary"
                    dark>
              <v-icon>mdi-play</v-icon>
              Enter
            </v-btn>
          
            
            <v-dialog id="login-dialog2"
                      max-width="600px"
                      persistent
                      :retain-focus="false"
                      value="true"
                      v-model="loginDialog.isLoginDialogOpen">

              <template v-slot:activator="{ on, attrs }">
                <v-btn  id="login-button"
                        class="pa-6 ma-6"
                        color="primary"
                        v-bind="attrs"
                        v-on="on">
                  <v-icon>mdi-login</v-icon>
                  {{ applicationState_GetUserLoginButtonText() }}
                </v-btn>
              </template>

              <v-card v-show="!applicationState.isUserLoggedIn">
                <v-card-title>
                  <span class="text-h5">User Login</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-text-field label="Username"
                                    required
                                    v-model="loginDialog.username"
                                    v-on:keydown="loginDialog_ClearLoginError()">
                      </v-text-field>
                    </v-row>
                    <v-row>
                      <v-text-field label="Password"
                                    type="password"
                                    required
                                    v-model="loginDialog.password"
                                    v-on:keydown="loginDialog_ClearLoginError()">
                      </v-text-field>
                    </v-row>
                    <v-row>
                      <v-alert  dense
                                outlined
                                type="error"
                                v-show="loginDialog.isLoginError">
                        Username or password is <strong>invalid</strong>!
                      </v-alert>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn  color="accent"
                          text
                          @click="loginDialog_UserLogin()">
                    Login
                  </v-btn>
                  <v-btn  color="accent"
                          text
                          @click="loginDialog.isLoginDialogOpen = false">
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>

              <v-card v-show="applicationState.isUserLoggedIn">
                <v-card-title>
                  <span class="text-h5">Are you sure you want to logout?</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn  color="accent"
                          text
                          @click="loginDialog_UserLogout()">
                    Yes
                  </v-btn>
                  <v-btn  color="accent"
                          text
                          @click="loginDialog.isLoginDialogOpen = false">
                    No
                  </v-btn>
                </v-card-actions>
              </v-card>

            </v-dialog>

            <v-dialog max-width="600px"
                      persistent
                      v-model="registerDialog.isRegisterDialogOpen">
                  
              <template v-slot:activator="{ on, attrs }">
                <v-btn  class="pa-6 ma-6"
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on">
                  <v-icon>mdi-file-sign</v-icon>
                  Register
                </v-btn>
              </template>

              <v-card>
                <v-card-title>
                  <span class="text-h5">User Profile</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" md="4" sm="6">
                        <v-text-field label="Name*"
                                      persistent-hint
                                      required>
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" md="4" sm="6">
                        <v-text-field label="Surname*"
                                      persistent-hint
                                      required>
                        </v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field label="Email*"
                                      required>
                        </v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field label="Password*"
                                      required              
                                      type="password">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6"></v-col>
                    </v-row>
                  </v-container>
                  <small>* Indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn  @click="registerDialog_onSubmit()"
                          color="primary"
                          text>
                    Submit
                  </v-btn>
                  <v-btn  @click="registerDialog.isRegisterDialogOpen = false"
                          color="primary"
                          text>
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
                  
          </div>
        
        </v-container> -->

        <!-- <div id="map"
             v-if="applicationState.currentState === 'questions' || applicationState.currentState === 'exploreData' || applicationState.currentState === 'runModels'"
             >
        </div> -->

        <div  id="arcgisMap"
              v-if="applicationState.currentState === 'questions' || applicationState.currentState === 'exploreData' || applicationState.currentState === 'runModels'"
              >  
        </div>

        <!-- <div  id="arcgisMap"
              
              >
          
        </div> -->

        <!-- <v-container height="800">
          
        </v-container> -->

        <!-- <v-card v-if="applicationState.currentState === 'questions' || applicationState.currentState === 'exploreData' || applicationState.currentState === 'runModels'">
                   

        </v-card> -->

        

      </v-main>

      <!-- <v-footer  id="footer"
                 color="orange"
                 app>

        <p>This is the footer of the application. It can be removed.</p>

      </v-footer> -->
    </v-app>

  </div>



  <script type="text/javascript" src="libs/require-2.3.6/require.js"></script>

  <script type="text/javascript" src="data/app-data.js"></script>
  <!-- <script type="text/javascript" src="data/app-data-hub-apps.js"></script> -->
  <script type="text/javascript" src="data/app-data-metadata.js"></script>

  <script type="text/javascript" src="js/index-arcgis.js"></script>
  <!-- <script type="module" src="js/index.js"></script> -->

</body>
</html>
