<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Choropleth</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
  
  <div id="app-container" >

    <v-app id="app">
      <v-app-bar clipped-left
                 dark
                 dense
                 flat
                 app>
        <v-row>
          <v-toolbar-title>DSH Logo Here</v-toolbar-title> 
        </v-row>  
        <search-btn @add-to-map="setMapLayers"></search-btn>
      
      </v-app-bar>
      
      
      <v-navigation-drawer clipped
        permanent
        app>
        <v-list v-if="layers.length > 0">
          <v-subheader>Added Layers</v-subheader>
  
          <v-list-item-group
            v-model="selectedLayersIndex"
            multiple
            active-class=""
          >
            <v-list-item v-for="(layer, i) in layers" :key="i">
              <template v-slot:default="{ active }">
                <v-list-item-action>
                  <v-checkbox :input-value="active"></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>


                  <v-list-item-title>
                    {{layer}}
                  </v-list-item-title> 
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
          <v-btn block @click="removeAllLayers">Remove all layers</v-btn>
        </v-list>

          <h2 v-else> No map layer added <br/> please search data.</h2>

      </v-navigation-drawer>
                
                <v-main app>

        <div id="map"></div>
      </v-main>

      <v-footer color="orange" app>
        <p>This is the footer of the application. It can be removed.</p>
      </v-footer>
    </v-app>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>
  <script type="text/javascript" src="libs/choropleth-1.0.0/choropleth.js"></script>
  <script type="text/javascript" src="js/app-data.js"></script>
  <script type="text/javascript" src="data/map-data.js"></script>
  
  <script type="text/javascript" src="components/searchBar.js"></script>
  <script type="text/javascript" src="components/searchBtn.js"></script>
  <script type="text/javascript" src="js/spatial.js"></script>
  <script type="text/javascript" src="js/index.js"></script>

</body>
</html>